
.facultyCart img{
    width: 30%;
    border-radius: 100%;
    
}
.facultyCart{
    height:30rem;
    width: 20rem;
    /* border: 3px solid yellow; */
    background-color:cadetblue;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
